<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.assemvely.mapper.ItemMapper">
	<select id="selectitem" resultType="kr.ac.assemvely.vo.ItemVo">
		  SELECT * FROM ITEMTB ORDER BY WRITEDATE DESC
	</select>
	<select id="insertitem">
		insert into ITEMTB (CLOTHCODE,ID,COLORCODE,PRICE,TEMPCODE,NAME,IMGNAME,CATEGORYCODE,CONTENT) values (CLOTHCODE_SEQ.NEXTVAL,#{id},#{colorcode},#{price},#{tempcode},#{name},#{imgname},#{categorycode},#{content})
	</select>
 	<select id="selectone" resultType="kr.ac.assemvely.vo.ItemVo">
 	select * from ITEMTB WHERE CLOTHCODE=#{clothcode}
 	</select>
 
 	
	<select  id="select" resultType="kr.ac.assemvely.vo.ItemVo">
	
	<![CDATA[
	select clothcode from itemtb where name=#{name}
	]]>
	</select>


	<insert id="insertinfo">
	
	<![CDATA[
	insert into iteminfotb values(#{clothcode},#{color},to_number(#{amount}))
	]]>
	</insert>

 	<select  id="read" resultType="kr.ac.assemvely.vo.ItemInfoVo">
 	
 	select  * from ITEMINFOTB where CLOTHCODE=#{clothcode}
 	</select>
 	
 	
</mapper>
 
 